body {
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body[data-theme='dark'] {
  background-color: #333333f0;
  color: #ffffff;
}

body[data-theme='light'] {
  background-color: #ffffff;
  color: #000000;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.nav-portfolio{
  font-size: 22px;
}

.nav-font{
  font-size: 20px;
}

.nav-bg-color{
  background-color: #7d6648;
}

.nav-portfolio {
  margin-left: 0 !important;
}


.skills-section h2 {
  font-weight: bold;
  color: #7d6648;
}

body[data-theme='dark'] .skills-section h2{
  color: #a9885d;
}

.custom-progress {
  height: 25px !important;
  background-color: #f0e6db; 
  border-radius: 10px;
}

.custom-progress .progress-bar {
  background-color: #d5bf9f !important; 
  font-weight: bold;
  font-size: 18px;
}

.skills-section {
  padding: 50px 20px;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.skill-item {
  width: 120px;
  text-align: center;
}

.skill-label {
  font-weight: bold;
  margin-top: 10px;
}

.projects-section {
  padding: 50px 20px;
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 40px !important;
  background-color: #ffffff; /* default light mode */
}


/* Dark mode support via body attribute */
body[data-theme='dark'] .project-card {
  background-color: #3f3f3f !important;
  color: white;
  border: 1px solid #fff;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project-card .project-btn {
  margin-top: 20px;
  text-align: center;
  background-color: #d5bf9f  !important;
  border-color: #7d6648 !important;
  font-weight: bold !important;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 40px;
  padding: 12px 20px;
  color:white;
}

.project-card .project-btn:hover {
  background-color: #7d6648 !important;
  border-color: #d5bf9f !important;
  color:white;
}

.project-card .project-resources {
  margin-top: 20px;
  text-align: center;
  color: #7d6648;
  background-color: white;
  border: 1px solid #d5bf9f;
  font-weight: bold !important;
  font-size: 16px !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 40px;
  padding: 12px 20px;
  transition: box-shadow 0.3s ease, transform 0.3s ease !important;
}

.project-card .project-resources:hover {
  background-color: white !important;
  color: #a9885d !important;
  border: 1px solid #a9885d !important;
  box-shadow: 0 5px 5px #a9885d !important; /* softer and larger shadow */
  transform: translateY(-3px) !important; /* subtle lift effect */
}

.project-next{
  font-size: 18px !important;
  color: #958165 !important;
  font-weight: bold !important;
}

body[data-theme='dark'] .project-next{
  color: #a9885d !important;;
} 


.project-image {
  height: 250px;
  border-radius: 40px;
  padding: 10px;
  /* border-bottom: 1px solid #ddd; */
}

.projects-section h2{
  font-weight: bold;
  color: #7d6648;
}

body[data-theme='dark'] .projects-section h2{
  color: #a9885d;
}

/*.project-btn::after {
  content: '';
  transition: all 0.3s ease;
}

.project-btn:hover::after {
  content: ' →';
}*/

.contact-form {
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  border: 1px solid #7d6648;
  border-radius: 40px;
}

.contact-form h2 {
  font-size: 2rem;
  color: #7d6648;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.contact-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #495057;
}

body[data-theme='dark'] .contact-form label{
  color: white;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ced4da;
  border-radius: 40px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #7d6648;
  outline: none;
  box-shadow: 0 0 0 3px rgba(167, 156, 91, 0.2);
}

.contact-form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-form .submit-container {
  text-align: center;
}

.contact-form .submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-image: linear-gradient(135deg, #7d6648 50%, #d5bf9f 80%);
  border: 1px solid #7d6648;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.5s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contact-form .submit-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.card-title{
  font-size: 20px !important;
  color: #958165 !important;
  font-weight: bold !important;
  margin-bottom: 7px;
}

body[data-theme='dark'] .card-title{
  color: #a9885d !important;;
} 

.project-card .card-text-bg{
  font-size: 16px;
  background-color: #d5bf9f21;
  border-radius: 10px;
  padding: 7px;
}

body[data-theme='dark'] .project-card .card-text-bg{
  background-color: #72727261;
}

.read-btn{
  cursor: pointer;
  color:#7d6648;
  font-size: 16px;
}

.bottomParagraph{
  color: #ffffff;
  border: 1px solid;
  border-radius: 20px;
  background: #a9885d;
  padding: 10px;
}

.card-details{
  border: 1px dashed #a9885d;
  border-radius: 40px;
  padding: 15px;
}

.social-media{
  border:1px solid white;
  border-radius: 40px;
  padding: 3px 15px;
}

.show-more-skills{
  background-color: white !important;
  border-radius: 40px !important;
  color:#7d6648 !important;
  border: 1px solid #7d6648 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.show-more-skills:hover{
  background-color: #7d6648  !important;
  color:white !important;
}

.show-more-projects{
  background-color: white !important;
  border-radius: 40px !important;
  color:#7d6648 !important;
  border: 1px solid #7d6648 !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.show-more-projects:hover{
  background-color: #7d6648  !important;
  color:white !important;
}

/*NavBar*/
.nav-link{
  font-size: 16px !important;
}


.lead{
  font-size: 18px !important;
}

.footerSection{
  background-color: #7d6648 !important;
}

body[data-theme='dark'] .footerSection{
  background-color: #333333 !important;
}

.contact-header{
  font-size: 28px;
  font-weight: bold;
  color: #7d6648;
}

body[data-theme='dark'] .contact-header{
  color: #a9885d;
}

body[data-theme='dark'] .skill-icon{
  color: #a9885d;
}

body[data-theme='light'] .skill-icon{
  color: #7d6648;
}

.theme-toggle-link {
  cursor: pointer;
  /*border-bottom: 1px solid white !important;*/
}


@media (max-width: 991.98px) { 
  .theme-toggle-link {
    border-bottom: none !important;
    border-top: 1px solid white !important;
    width: 100% !important;
    justify-content: center;
    margin: auto;
    text-align: center;
  }
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-top: 2px solid #d5bf9f;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.text-type-writer{
  font-size: 30px;
}

@media (max-width: 991.98px) { 
  .text-type-writer{
    font-size: 24px;
  }
}

@media(max-width:575px){
  .toggle-text{
    width: fit-content;
    background-color: #1c1c1c52;
    border-radius: 40px;
    padding: 5px 10px;
  }

  .nav-portfolio{
    font-size: 16px !important;
  }
}

.nav-img-logo{
  height: 50px;
  width: 50px;
}

.dual-icon-toggle {
  width: 50px;
  height: 24px;
  border-radius: 999px;
  background-color: #ccc;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #fff;
}

.dual-icon-toggle.light {
  background-color: #d5bf9f;
  color: #7d6648;;
}

.dual-icon-toggle.dark {
  background-color: #ffffff40;
  color: #d5bf9f;;
}

.dual-icon-toggle .sun-icon,
.dual-icon-toggle .moon-icon {
  z-index: 2;
}

.dual-icon-toggle .toggle-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: transform 0.3s ease;
  z-index: 1;
}

.dual-icon-toggle.dark .toggle-thumb {
  transform: translateX(26px);
}

.skill {
  justify-content: center;
  border-radius: 40px;
  align-items: center;
  border: 1px solid #d5bf9f;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px #d5bf9f;
}

.tech-style{
  background: #d5bf9f;
  padding: 0px 10px;
  color: #fff;
  border-radius: 40px;
}

body[data-theme='dark'] .tech-style{
  background: #d5bf9f42;
  color: #d5bf9f;
}

.project-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-modal-body{
  align-items: center;
  display: flex;
}

body[data-theme='dark'] .modal-project{
  background-color: #3f3f3f !important;
  color: white !important;
}

body[data-theme='dark'] .modal-header .btn-close {
  color: white !important;
  background-color: #ffffffa3;
}

body[data-theme='dark'] .modal-body{
  background-color: #3f3f3f !important;
  color: white !important;
} 

body[data-theme='dark'] .modal-body .card{
  background-color: #3f3f3f !important;
  color: white !important;
  border: 1px solid #fff;
} 



