.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 10px;
    background-color: #997c57;
    color: white;
    padding: 10px 12px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
  }
  
  .scroll-to-top:hover {
    background-color: #5f4c36;
  }
  